@import url('https://fonts.googleapis.com/css2? family= League+Spartan:wght@400;500;700 & family= Roboto:wght@300;400;700 & display=swap');

html, body{
    box-sizing: border-box;
    font-size: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    line-height: 10px;
    
}

/* *:before, *:after {
    box-sizing: inherit;
} */

a{
    text-decoration: none;
    color: black;
    padding: 8px;
    margin: 8px;

}

ul {
    list-style-type: none;
    padding: 5px;
    margin: 2px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.m_principal {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
}


.menu_items {
    display: flex;
    align-items: center;
}

.menu-items * {
    margin: 0 8px;

}
.menu-dos img {
    width: 20px;
    height: 20px;
    padding: 8px;
    justify-content: center;
    align-items: center;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    
    
}
main img {
    width: 300px;
    height: 100px;
    padding: 10px;
    margin: 8px;
}
.profile img {
    border-radius: 999px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 0;
}

    #input_search input{
        border-radius: 20px;
        border-color: rgb(184, 182, 182);
        padding: 8px;
        margin:  15px;
        width: 600px;
        height: 45px;
        outline: none;
        cursor:pointer;
        padding-left: 45px;
}

/* #input-search::before {
    content:"🔍"
} */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#search  {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 10px;
    margin: 10px;
    border: transparent;
    color: rgb(77, 77, 73);
    background-color: white;
    
}
#lucky {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: transparent;
    color: rgb(77, 77, 73);
    background-color: white;
    
} 

button {
    border: transparent;
    padding: 10px;
    font-size: 15px;
    justify-content:center;
    cursor:pointer;
} 
div {
    display: flex;
    justify-items:center;
    align-items: center
    
} 
button:hover {
    background-color: rgb(144, 144, 144);
    border-radius: 10px ;
}
 #search :hover {
    background-color: rgb(144, 144, 144);
}
#lucky :hover{
    background-color: rgb(144, 144, 145);
} 

footer {
    background-color: #efecec;
    font-size: 15px;
    padding: 20px;
    color:rgb(77, 77, 73);
    position: relative;

}
.pais {
    border-bottom: 1px solid #d9dbdf ;
    display: block;
    padding: 10px;
    margin: 8px;

}

.footer-link nav {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    margin-bottom: 5px;
    color: rgb(77, 77, 73);
    
}
 section {
    display: inline-block;
    justify-items:center;
    align-items: center;
    color:  rgb(77, 77, 73);;
} 
@media screen and (max-width: 640px) {
    .menu_principal {
        background-color: white;
    }
    main {
        background-color: white;
    }
    footer {
        background-color:  #efecec;;
    }
}
@media screen and (min-width: 640px) and (max-width: 1280px) {
    .menu_principal {
        background-color: white;
    }
    main {
        background-color: white;
    }
    footer {
        background-color:  #efecec;;
    }
}
@media screen and (min-width: 1280px) {
    .menu_principal {
        background-color: white;
    }
    main {
        background-color: white;
    }
    footer {
        background-color:  #efecec;;
    }
}





